{% extends 'base.html' %}{% block title %}About{% endblock title %}This is my
life {%block body %}

<style>
    .about-area{
        padding: 12.8rem 8rem;
        background-color:rgb(221, 205, 235);
        background-size: cover;
        
    }
    .site-main .about-area .about-title h1>span{
        display: block;
        font: normal bold 49px/60px var(--roboto);
        letter-spacing: 1px;
        
    }
    .site-main .about-area .about-title .paragraph > p{
        padding: 0.05rem 0;
    }
</style>

<section class="about-area">
      <div class="col-lg-12 col-md-12 about-title">
        <h1 class="text-uppercase">
          <span>Let me</span>
          <span>introduce myself</span>
          <!-- <span>ourself</span> -->
        </h1>
        <div class="paragraph py-4 w-85">
          <p class="para">
            I am Pragya Gupta. I am a front-end developer and currently learning full-stack
            development. Besides this, I like to involve in think tank to solve
            real world problems. I define myself as a very happy, curious and
            positive person, always open to meet new people. Willing to learn
            new things and face new challenges, I can work both, in a team and
            autonomously, always keeping calm under pressure.I have both CSE and environmental background. I wish to integrate knowledge of both fields to do something beneficial.</p>
          <p class="para">
            Beyond my technical skills, I find joy in writing poems, using words
            to radiate positivity and to share my thoughts. Driven by a positive
            and curious mindset, I am always eager to embrace new challenges and
            contribute to think tanks that focus on technology-driven solutions.
            Let's connect together to work on something which will be helpful
            for the community.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock body %}Hello.
